<!doctype html>
<html>

{% include 'head.html' %}

<head>
<script>

  $(document).ready(function() {
      var config = {
          pageLength: 200,
          // select: true,
          select: 'multi+shift',
          fixedHeader: true,
          colReorder: true,
          // dom: 'Bfrtip',
          // buttons: ['copy', 'excel', 'pdf'],
      };
      var table = $('#chains').DataTable(config);

      InstallDataTableFocus();


      // TODO(blais): Remove, this was replaced with a link.
      // When the Clear button is pressed, clear the selection.
      $('#clear').click( function () {
          table.rows('.selected').deselect();
      } );

      // Redirect with a list of the selected chains.
      $('#summarize').click( function () {
          var ids = table.rows('.selected').ids().join(",");
          window.location.href = `/summarize?chain_ids=${ids}`;
      } );
  });

</script>
</head>

<body>
{% include 'navigation.html' %}
<button id="clear">Clear</button>
<button id="summarize">Summarize</button>

{{ table|safe }}
<body>

</html>
