<!doctype html>
<html>

{% include 'head.html' %}

<head>
<script>

  $(document).ready(function() {
      var config = {
          pageLength: 200,
          select: true,
          // select: 'multi+shift',
          fixedHeader: true,
          colReorder: true,
          // dom: 'Bfrtip',
          // buttons: ['copy', 'excel', 'pdf'],
      };
      var table = $('#chains').DataTable(config);

      // TODO(blais): Remove, this was replaced with a link.
      // // When the Chain button is pressed, go to the chain detail page.
      // $('#chain').click( function () {
      //     chain_name = table.row('.selected').data()[1]
      //     window.location.href = `/chain/${chain_name}`;
      // } );

      SetDataTableFocus();

      // TODO(blais): Remove - tried to install double-click.
      // $('#chain tbody').on('dblclick', 'tr', function () {
      //     var data = table.row( this ).data();
      //     alert( 'You clicked on '+data[0]+'\'s row' );
      // } );
  });

</script>
</head>

<body>
{% include 'navigation.html' %}
<!-- <button id="chain">Chain Detail</button> -->

{{ table|safe }}
<body>

</html>
